.user-details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.user-details__video {
	height: 50vh;
	border: 1px solid black;
	border-radius: 20px;
}
.user-details__name {
	margin: 20px;
}
.user-details__name input {
	display: block;
	padding: 5px 10px;
}
.user-details button[type="submit"] {
	padding: 10px 30px;
	font-size: larger;
}
